<div class="card" >
 
  <div class="card-body" style="width: 50%">
 
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)" >
      <div class="form-content">
        

          <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label">Project</label>
              <div class="col-md-10" >
                 
                  <select class="form-control"
                  name="project" 
                 required
                 #project="ngModel"
                 [(ngModel)]="model.project">
                     <option *ngFor="let prj of projects" [value]="prj">{{prj}}</option>
                   </select>
                </div>
                
                </div>

               

                <div class="form-group row mb-2">
                  <label class="col-md-2 col-form-label">Task</label>
                  <div class="col-md-10" >
                      <input class="form-control"
                      name="taskName"
                      required
                      type="text" for="taskName"
                      [(ngModel)]="model.taskName"
                      #taskName="ngModel" [value]="'model.taskName'"/>
                    </div>
                   
                    </div>
                    <div class="form-group row mb-2">
                      <label class="col-md-2 col-form-label" >Priority</label>
                      <div class="col-md-10">
                        <ng5-slider [(value)]="value" [options]="options"
                        
                         name="priority"
                        #priority="ngModel" [value]="'value'" [(ngModel)]="value"></ng5-slider> 
                          <!--input class="form-control"
                                name="priority"
                                type="text"
                                type="text" for="priority"
                                [(ngModel)]="value"
                                #priority="ngModel" [value]="'value'"/-->
                    </div>
                  </div>
                    <div class="form-group row mb-2">
                      <label class="col-md-2 col-form-label">Parent Task</label>
                      <div class="col-md-6" >
                          <input class="form-control"
                          name="parent"
                          type="text"
                          required
                          type="text" for="parent"
                                [(ngModel)]="model.parent"
                                #parent="ngModel" [value]="'model.parent'"
                          />
                         
                      </div>
                     
                      <div class="col-md-4">
                          <button class="btn btn-outline-secondary" (click)='onCancel()'
                          type="button" > Search</button>
                            </div>
                  </div>
              
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" >Start Date</label>
        <div class="col-md-4">
          <input class="form-control"
                 id="startDate"
                 name="startDate"
                 type="date"
                required 
                #startDate="ngModel"
                [(ngModel)]="model.startDate" 
                min="new Date().value"
                />
                
            </div>
            <div [hidden]="startDate.valid || startDate.pristine"  style="width: 50%;"
            class="alert alert-danger">
            Start date is required
            </div>
            <label class="col-md-2 col-form-label" >End Date</label>
            <div class="col-md-4">
              <input class="form-control"
                     name="endDate"
                     type="date"
                     required 
                     #endDate="ngModel"
                      [(ngModel)]="model.endDate" 
                      min="new Date().value"
                    />
                </div>
                <div [hidden]="endDate.valid || endDate.pristine"  style="width: 50%;" 
                class="alert alert-danger">
                End date is required
                </div>
                <div *ngIf="endDate.value<startDate.value"  style="width: 50%;"
                class="alert alert-danger">
                End date must be greate than start date.
                </div>
      </div>

      

      
     
    
    <div class="form-group row mb-4">
        <label class="col-md-2col-form-label">Project Manager</label>
        <div class="col-md-8" >
            
            <select class="form-control"
            name="projectManager" 
           required
           #project="ngModel"
           [(ngModel)]="model.projectManager">
               <option *ngFor="let usr of users" [value]="usr">{{usr}}</option>
             </select>
           
        </div>
       
       
    </div>

    <div class="form-group row mb-2">
        
      
        <div class="col-sm-4" >
            <button type="submit" style="margin-left: 40px;" class="btn btn-primary">Add Task</button>

       </div>
       <div class="col-sm-4" >
          <button class="btn btn-outline-secondary" (click)='reset()'
          type="button" > Reset</button>
     </div>
    </div>
   
   
    </div>
    </form>
  </div>
</div>
