<div class="card" >
 
  <div class="card-body" style="width: 50%">
 
    <form  #f="ngForm" (ngSubmit)="onSubmit(f)" >
      <div class="form-content">
        

          <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label">Project</label>
              <div class="col-md-10" >
                  <input class="form-control"
                  name="projectName"
                  required
                  type="text" for="projectName"
                  [(ngModel)]="model.projectName"
                  #projectName="ngModel" [value]="'model.projectName'"/>
                </div>
                <div [hidden]="projectName.valid || projectName.pristine"  style="width: 50%;" 
                class="alert alert-danger">
                Project Name is required
                </div>
                </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" >Start Date</label>
        <div class="col-md-4">
          <input class="form-control"
                 id="startDate"
                 name="startDate"
                 type="date"
                required 
                #startDate="ngModel"
                [(ngModel)]="model.startDate" 
                min="new Date().value"
                />
                
            </div>
            <div [hidden]="startDate.valid || startDate.pristine"  style="width: 50%;"
            class="alert alert-danger">
            Start date is required
            </div>
            <label class="col-md-2 col-form-label" >End Date</label>
            <div class="col-md-4">
              <input class="form-control"
                     name="endDate"
                     type="date"
                     required 
                     #endDate="ngModel"
                      [(ngModel)]="model.endDate" 
                      min="new Date().value"
                    />
                </div>
                <div [hidden]="endDate.valid || endDate.pristine"  style="width: 50%;" 
                class="alert alert-danger">
                End date is required
                </div>
                <div *ngIf="endDate.value<startDate.value"  style="width: 50%;"
                class="alert alert-danger">
                End date must be greate than start date.
                </div>
      </div>

      

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" >Priority</label>
        <div class="col-md-10">
          <ng5-slider [(value)]="value" [options]="options"
          
           name="priority"
          #priority="ngModel" [value]="'value'" [(ngModel)]="value"></ng5-slider> 
            <!--input class="form-control"
                  name="priority"
                  type="text"
                  type="text" for="priority"
                  [(ngModel)]="value"
                  #priority="ngModel" [value]="'value'"/-->
      </div>
     
    </div>
    <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label">Manager</label>
        <div class="col-md-8" >
          
            <select class="form-control"
            name="projectManager" 
           required
           #projectManager="ngModel"
           [(ngModel)]="model.projectManager">
               <option *ngFor="let usr of users" [value]="usr">{{usr}}</option>
             </select>
           
        </div>
        <div [hidden]="projectManager.valid || projectManager.pristine"  style="width: 50%;" 
        class="alert alert-danger">
        Project Manager Name is required
        </div>
       
    </div>

    <div class="form-group row mb-2">
        
      
        <div class="col-sm-4" >
            <button type="submit" style="margin-left: 40px;" class="btn btn-primary">Add</button>

       </div>
       <div class="col-sm-4" >
          <button class="btn btn-outline-secondary" (click)='reset()'
          type="button" > Reset</button>
     </div>
    </div>
   
   
    </div>
    </form>
  </div>
</div>

<div class="card">
   
  
    <div class="card-body">
  
     <div class="table-responsive">
        <table class="table  table-striped table-hover" matSort (matSortChange)="sortData($event)">
          <thead>
            <tr style="color: blue;">
              <th mat-sort-header="projectName">
               Project Name
              </th>
              <th mat-sort-header="noOfTask">Number of Task</th>
              <th mat-sort-header="startDate">Start Date</th>
              <th mat-sort-header="endDate">End Date</th>
              <th mat-sort-header="priority">Priority</th>
              <th mat-sort-header="status">Status</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proj of project">
              <td>
                {{proj.projectName}}
              </td>
              <td>
                  {{proj.noOfTask}}
              </td>
              <td> {{proj.startDate|date:'shortDate'}}</td>
              <td> {{proj.endDate|date:'shortDate'}}</td>
              <td> {{proj.priority}}</td>
              <td>
                  {{proj.status}}
              </td>
              <td nowrap>
             <span *ngIf="proj.status!='Suspends'">       
              <button   (click)="update(proj)">Edit</button> &nbsp;
              <button   (click)="suspends(proj.projectId)">Suspends</button>
               </span>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
    
  </div>
 