<div class="card" >
 
  <div class="card-body" style="width: 50%">
 
    <form  #f="ngForm" >
      <div class="form-content">
        
    <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label">Project</label>
        <div class="col-md-6" >
            <input class="form-control"
            name="project"
            type="text"
            required
            type="text" for="project"
            [(ngModel)]="model.project"
            #project="ngModel" [value]="'model.project'"
            />
           
        </div>
         <div class="col-md-4">
            <button class="btn btn-outline-secondary" 
            type="button" (click)="search(project)"  > Search</button>
        </div>
    </div>
    
    </div>
    </form>
  </div>
</div>

<div class="card">
   
  
    <div class="card-body">
  
     <div class="table-responsive">
        <table class="table  table-striped table-hover">
          <thead>
            <tr style="color: blue;">
                <th>
                    Project
                    </th>
              <th>
              Task
              </th>
              <th>Parent</th>
              <th>Priority</th>
              <th>Status</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>
                {{task.project}}
              </td>
              <td>
                  {{task.taskName}}
                </td>
              <td>
                  {{task.parent}}
              </td>
            
              <td> {{task.priority}}</td>
              <td> {{task.status}}</td>
              <td> {{task.startDate|date:'shortDate'}}</td>
              <td> {{task.endDate|date:'shortDate'}}</td>
            
              <td nowrap  >
              <span *ngIf="task.status!='End'">
              <button   (click)="update(task)">Edit</button> &nbsp;
              <button   (click)="endTask(task.taskId)">End Task</button>
            </span>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
    
  </div>
 