<!--The content below is only a placeholder and can be replaced.-->
<span class="fa fa-spinner spinner"
      *ngIf="loading"></span>
      <div style="align-content: center;"><h3> {{title}}</h3> </div>
<!-- Main part of the menu-->
<nav class="navbar navbar-expand navbar-light bg-light">
  
  

      <a class="nav-link"
         [routerLink]="'/projects'"
         routerLinkActive="active" > 
         
          Add Project
        
        </a>

         <a class="nav-link" routerLinkActive="active"
         [routerLink]="'/tasks'"
         >Add Task</a>
         <a class="nav-link"  routerLinkActive="active"
         [routerLink]="'/users'" >Add User</a>
         <a class="nav-link"  routerLinkActive="active"
         [routerLink]="'/viewtask'">View Task</a>
         
        
  <!-- Left justified part of the menu -->
  
</nav>
<router-outlet></router-outlet>
